<main class="flex flex-col p-4 md:p-10 space-y-10 w-full">
    <nav class="w-full flex justify-between">
        <div class="flex flex-col">
            <h2 class="font-semibold text-dark"><%= @project.name %></h2>
            <p><%= @project.email %></p>
        </div>
    </nav>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 w-full">
    </section>
</main>