input,
select,
button,
textarea {
  @apply w-full;
}

input,
select,
button,
textarea,
.btn {
  @apply block !h-max;
  @apply px-4 py-2.5 rounded-lg;
  @apply text-base font-medium leading-6;

  @apply bg-gray-50 bg-opacity-50 border border-gray-300 text-gray-900 text-sm;
  @apply focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

button.sm,
.btn.sm{
  /* @apply py-2 px-4 text-sm; */
}

button.xs,
.btn.xs{
  @apply py-1 px-1 text-xs;
}

input:disabled,
button:disabled,
.btn:disabled {
  @apply bg-gray-100 text-dark cursor-not-allowed;
}

input.info,
textarea.info {
  @apply border border-primary placeholder:text-primary text-primary;
}

select.error,
input.error,
textarea.error {
  @apply border border-red-500 placeholder:text-red-500 text-red-500;
}

/**
 * -----------------------
 * Custom Inputs
 *  Checkbox
 *  Radiobox
 * ----------------------- */
input[type="checkbox"],
input[type="radio"] {
  @apply w-auto;
}

/**
 * -----------------------
 * Buttons
 * ----------------------- */

button,
.btn {
  @apply inline-flex items-center justify-center gap-1 w-auto;
  @apply cursor-pointer;
}

button.dark,
.btn.dark {
  @apply text-light bg-dark;
}
button.light,
.btn.light {
  @apply border-none;
}
button.primary,
.btn.primary {
  @apply bg-primary text-light border-none;
  @apply hover:bg-opacity-90 hover:text-light;
}

button.danger,
.btn.danger {
  @apply bg-red-500 text-light border-none;
  @apply hover:bg-opacity-90 hover:text-light;
}

button.icon,
.btn.icon > span {
  @apply transition-all duration-1000 opacity-0 w-0;
}
button.icon,
.btn.icon:hover > span,
button.icon,
.btn.icon:focus span {
  @apply opacity-100 duration-200 transition-all w-full;
}

button.icon svg,
btn.icon svg {
  @apply w-5 h-5;
}

/** 
* -----------------------
* Select
* ----------------------- */
select {
  @apply border;
}
/** 
* -----------------------
* Checkbox
* ----------------------- */
.checkbox {
  @apply flex items-center;
}

.checkbox label {
  @apply ml-3 text-sm font-medium text-black;
  @apply dark:text-gray-300;
}

.checkbox input[type="checkbox"] {
  @apply w-4 h-4 text-primary bg-gray-100 rounded border-gray-300 focus:ring-primary;
  @apply dark:focus:ring-primary dark:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600;
}

/* Custom checkbox */


.big__checkbox label{
  @apply block w-5 h-5 bg-gray-50 border border-dark border-opacity-20 rounded transition ease-in-out delay-150 cursor-pointer;
}

.big__checkbox input[type="checkbox"]{
  @apply hidden;
}

.big__checkbox input[type="checkbox"]:checked + label {
  @apply !bg-primary  rotate-180;
}

.big__checkbox input[type="checkbox"][has-many] + label {
  @apply !bg-primary  bg-opacity-50 rotate-180;
}


/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  @apply flex-shrink-0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.switch input {
  @apply !hidden;
}
.switch .slider.round,
.switch .slider.round:before {
  border-radius: 18px;
}

